In [1]:
import pandas as pd

data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

purchases = pd.DataFrame(data)

data, purchases

({'apples': [3, 2, 0, 1], 'oranges': [0, 3, 7, 2]},
    apples  oranges
 0       3        0
 1       2        3
 2       0        7
 3       1        2)

In [2]:
purchases.values.tolist()

[[3, 0], [2, 3], [0, 7], [1, 2]]

In [3]:
d = purchases.values.tolist()
e = pd.DataFrame(d)
e

   0  1
0  3  0
1  2  3
2  0  7
3  1  2